<%= form_for(@forecast_provider) do |f| %>
  <% if @forecast_provider.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@forecast_provider.errors.count, "error") %> prohibited this forecast_provider from being saved:</h2>

      <ul>
      <% @forecast_provider.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :apitype %><br>
    <%= f.text_field :apitype %>
  </div>
  <div class="field">
    <%= f.label :apiparams %><br>
    <%= f.text_area :apiparams %>
  </div>
  <div class="field">
    <%= f.label :provides %><br>
    <%= f.text_area :provides %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
