<p id="notice"><%= notice %></p>

<h1>Listing Forecast Logs</h1>

<table>
  <thead>
    <tr>
      <th>Forecast provider</th>
      <th>Day</th>
      <th>Temperature max</th>
      <th>Temperature min</th>
      <th>Precipitation</th>
      <th>Pressure</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @forecast_logs.each do |forecast_log| %>
      <tr>
        <td><%= forecast_log.forecast_provider %></td>
        <td><%= forecast_log.day %></td>
        <td><%= forecast_log.temperature_max %></td>
        <td><%= forecast_log.temperature_min %></td>
        <td><%= forecast_log.precipitation %></td>
        <td><%= forecast_log.pressure %></td>
        <td><%= link_to 'Show', forecast_log %></td>
        <td><%= link_to 'Edit', edit_forecast_log_path(forecast_log) %></td>
        <td><%= link_to 'Destroy', forecast_log, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Forecast log', new_forecast_log_path %>
